body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width:100%;
  border-collapse: collapse;
}
th {
  padding: 30px;
  padding-left: 20px;
  border-bottom: solid 5px #7fffd4;
}
td {
  padding: 30px;
  padding-left: 20px;
  border-bottom: solid 1px #7fffd4;
}
div {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #87cefa;/*文字色*/
  background: #FFF;
  border: solid 3px #87cefa;/*線*/
  border-radius: 13px;/*角の丸み*/
}
